<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<google>
			<customer_reviews>
				<enabled/>
				<api_url/>
				<merchant_id/>
			</customer_reviews>
		</google>
	</default>
</config>
