<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference type="Splosh\ExtendCatalog\Block\Product\ProductList\Toolbar" for="Magento\Catalog\Block\Product\ProductList\Toolbar" />
    <type name="Magento\Catalog\Model\Config">
        <plugin name="catalogCustomToolbar" type="Splosh\ExtendCatalog\Plugin\Model\Config" />
    </type>
</config>