<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Acidgreen_SploshExo::staff" sortOrder="10" title="staff">
					<resource id="Acidgreen_SploshExo::staff_save" sortOrder="10" title="Save staff"/>
					<resource id="Acidgreen_SploshExo::staff_delete" sortOrder="20" title="Delete staff"/>
					<resource id="Acidgreen_SploshExo::staff_update" sortOrder="30" title="Update staff"/>
					<resource id="Acidgreen_SploshExo::staff_view" sortOrder="40" title="View staff"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
