<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference 
        for="Magento\CatalogSearch\Model\Adapter\Mysql\Aggregation\DataProvider"
        type="Acidgreen\CatalogSearch\Model\Adapter\Mysql\Aggregation\DataProvider"/>
    <type name="Magento\Framework\Search\Adapter\Mysql\Aggregation\DataProviderContainer">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="catalogsearch_fulltext" xsi:type="object">Acidgreen\CatalogSearch\Model\Adapter\Mysql\Aggregation\DataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Acidgreen\CatalogSearch\Model\Adapter\Mysql\Aggregation\DataProvider">
        <arguments>
            <argument name="range" xsi:type="object">Magento\Catalog\Model\Layer\Filter\Price\Range\Proxy</argument>
        </arguments>
        <plugin name="categoryIdAggregation" type="Acidgreen\CatalogSearch\Model\Adapter\Mysql\Plugin\Aggregation\Category\DataProvider" />
    </type>
</config>
