 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
     <default>
         <web>
            <default>
                <cms_503_page>maintenance-page</cms_503_page>
            </default>
        </web>
     </default>
 </config>
