<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/system_file.xsd">
	<system>
        <section id="cataloginventory">
            <group id="item_options">
                <field id="min_sale_qty" translate="label" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Minimum Qty Allowed in Shopping Cart</label>
                    <frontend_model>Magento\CatalogInventory\Block\Adminhtml\Form\Field\Minsaleqty</frontend_model>
                    <backend_model>Magento\CatalogInventory\Model\System\Config\Backend\Minsaleqty</backend_model>
                </field>
	        </group>
            <group id="options">
                <field id="show_out_of_stock" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Display Out of Stock Products</label>
                    <comment>Products will still be shown by direct product URLs.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Magento\CatalogInventory\Model\Config\Backend\ShowOutOfStock</backend_model>
                </field>
            </group>
        </section>
	</system>
</config>
